<h1>Cursos</h1>

<p>
    <div class="container">
        <h3> <a href="/cursos/create"> Crear curso </a></h3>
        <h1>Lista de Cursos</h1>
        {{#if cursos }}
           <table class="table table-hover">
                <thead>
                   <tr>
                       <th>Nombre</th>
                       <th>creditos</th>
                       <th>horas</th>
                      
                   </tr>
                </thead>
                <tbody>
                    {{# each cursos }}
                    <tr>
                        <td> <a href="/cursos/show/{{ _id  }}"> {{ nombre }}  </td>
                        <td> {{ creditos }} </td>
                        <td> {{ nrohoras }} </td>
                       
                    </tr>
                    {{/each}}
                </tbody>
           </table>
        {{~^~}}
            <div>Curso no encontrados</div>
        {{/if}}
    </div>
</p>